.Home{
     background: linear-gradient(to top, rgba(48, 0, 0, 0.5) 30%, rgba(56, 0, 0, 0.4) 10%);
     margin-bottom: 0;
}
body {
    background: linear-gradient(to top, rgba(29, 0, 0, 0.904) 90%, rgba(29, 0, 0, 0.753) 100%);
    color: white;
    background:  rgba(20, 0, 0, 0.973) 90%;
    padding: 0;
}