  
  .addevent{
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100% ), url("../../images/scenic.jpg");
 
  
  .addimg{
    display: grid;
    margin: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    color: white;
  

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    padding: 1.5rem;
    color: #fffbfb;
    font-size: 1.2rem;
    margin: 0px;
    font-family: Arial, sans-serif;
  
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
  
  input{
    background-color: white;
  }
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #ffffff;
    color: #f3f3f3;
    font-size: 1rem;
    font-family: Arial, sans-serif;
  }
  
   
  img{
    place-items: center;
  }
}
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #3f2c2c;
  color: #fff9f9;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #2e261e;
  color: #ffffff;
}

}

  .logo2{
    height: 45px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .logo3{
    height: 45px;
    margin-left: 25px;
    margin-top: 17px;
  }

  .smily{
    margin-top: 200px;
    height: 40vw;
    width: 630px;
    margin-bottom: 0px;;
  }
  }